
body {
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 0%;
}
#navBar h1 {
  display: flex;
  width: 25%;
  font-weight: 500;
  justify-content:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: rgb(235, 170, 229);
 color: #0e0d0e;
 
}
#navigation {
  
  display: flex;
  width: 80%;
  align-items: right;
  margin: 1%;
  justify-content: space-evenly;
  background-color: rgb(235, 170, 229);
  color: bisque;
  
}
#navigation li {
  cursor: pointer;
  text-decoration: none;
}
header {
background-color: rgb(235, 170, 229);
}

.section-title{
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; 
  justify-content: space-between;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.flex-item{
  border: 5px red;
  flex-basis: calc(50%-1em);
  display: flex;
  align-items: flex-end;

}


.surf{
  background-image: url("https://picsum.photos/id/237/200/300");
}


